.container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}
app-add-job {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}
